/* ==================================== ELEMENTS ==================================== */

html {
  font-size: $base-font-size;
}

body {
  padding: 0;
  margin: 0;
  // min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* available weight: 400 */
  line-height: $base-line-height;
  letter-spacing: normal;
  color: $black-color;
  background-color: $white-color;
  @include font-size($base-font-size);
}

section,
.section {
  padding: 0;
  margin: 0;
}

a,
.link {
  @extend .transition;

  color: $red-color;
  text-decoration: none;

  &:active,
  &:focus {
    color: $red-color;
    text-decoration: none;
  }

  &:visited {
    color: $red-color;
    text-decoration: none;
  }

  &:hover {
    color: $black-color;
    text-decoration: none;
  }
}

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  display: block;
  font-family: "Domine", serif;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0.32em 0;
  letter-spacing: normal;
}

h1,
.h1 {
  @include font-size(28px);
}

h2,
.h2 {
  @include font-size(26px);
}

h3,
.h3 {
  @include font-size(24px);
}

h4,
.h4 {
  @include font-size(22px);
}

h5,
.h5 {
  @include font-size(20px);
}

h6,
.h6 {
  @include font-size(18px);
}

hr {
  border-color: $border-color;
  margin: 1.24em 0;
}

hr.no-border {
  border-color: transparent;
}

b,
strong,
.bold,
.strong {
  font-weight: 700;
}

p,
.paragraph {
  margin: 0 0 1em 0;
  padding: 0;
}

small,
.small {
  @include font-size(14px);
}

ul,
ol {
  padding: 0 0 0 2em;
  margin: 1em 0;
}

aside {
  padding: 0;
  margin: 0;
}

big {
  font-size: inherit; /* preventing legacy inline editor styles */
}
