/* ==================================== HELPERS ==================================== */

.transition {
  -moz-transition: all 116ms ease-in-out;
  -ms-transition: all 116ms ease-in-out;
  -webkit-transition: all 116ms ease-in-out;
  -o-transition: all 116ms ease-in-out;
  transition: all 116ms ease-in-out;
}

.underlined {
  border-bottom: 1px solid $border-color;
  padding: 0 0 0.32em 0;
  margin: 0 0 0.8em 0;
}

.visually-hidden {
  @extend %visuallyhidden;
}

.required,
.red-color {
  color: $red-color;
}

::-moz-selection {
  background-color: rgba($red-color, 0.8);
  color: $white-color;
}

::selection {
  background-color: rgba($red-color, 0.8);
  color: $white-color;
}

a.btn-success:visited,
a.btn-success:focus,
a.btn-success:active {
  color: $white-color;
}

/* "bolt_widget" is the default container for widgets in Bolt. */
.bolt_widget {
  background-color: transparent;
  padding: 1em;
  margin: 0 0 1em 0;
}

/* Default Bolt styles for 'responsive video embeds' from: https://docs.bolt.cm/3.0/templates/record-and-records */
.responsive-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.responsive-video.vimeo {
  padding-top: 0;
}

.responsive-video.widescreen {
  padding-bottom: 57.25%;
}

.responsive-video embed,
.responsive-video iframe,
.responsive-video object,
.responsive-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 767px) {
  .responsive-video {
    padding-top: 0;
  }
}
