/* ================ TOP 25 PROMO ================ */

.top25-promo-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 1.56em;
  margin: 0 0 2em;
  text-align: center;

  @include bp-small {
    margin-bottom: 3em;
  }
  @include bp-large {
    padding: 4em 1.56em;
  }

  &_inner {
    max-width: 100%;
    margin: 0;
    padding: 0;

    @include bp-small {
      max-width: 35%;
    }
  }  
}


.top25-promo-container_inner {
  h1 {
    padding: 0;
    margin: 0 0 0.56em;
    @include font-size(28px);
    color: $white-color;
    text-shadow: $text-shadow;
    @include bp-small {
      @include font-size(40px);
    }
    @include bp-medium {
      @include font-size(60px);
    }
  }
  .btn-default {
    border-color: rgba($ciginsider-red, 0.8);
    background-color: $ciginsider-red;
    color: $white-color;
    border-radius: 3px;
    padding: 0.56em 1em;
    margin: 0 0.64em 0.56em 0;
    font-weight: normal;
    box-shadow: 0px 2px 4px rgba(8, 8, 8, 0.4);
    text-transform: uppercase;
    @include font-size(14px);
    @include bp-medium {
      padding: 0.56em 2.32em;
      @include font-size(18px);
    }
    &:hover {
      border-color: darken($ciginsider-red, 8%);
      background-color: darken($ciginsider-red, 8%);
    }
  }
}
