/* ================ SEARCH ================ */

.ratings-search,
.main-search,
.glossary-search,
.brands-search,
.company-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.glossary-search {
  margin: 1em 0 2em 0;
}

.brands-search,
.company-search {
  margin: 0 0 2em 0;
}

/* ================ SEARCH TOGGLE CONTROLS ================ */

.search-toggle {
  margin: 0;
  padding: 0;
  color: $white-color;
}

.search-toggle input[type="radio"] {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.search-toggle label {
  float: left;
}

.search-toggle label {
  display: inline-block;
  width: 50%;
  background-color: rgba($lightgold-color, 0.88);
  color: $brown-color;
  font-weight: normal;
  @include font-size(14px);
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  padding: 6px;
  margin: 0;

  @include bp-small {
    @include font-size(12px);
    padding: 2px 6px;
  }
}

.search-toggle label:hover {
  cursor: pointer;
  background-color: $lightbrown-color;
}

.search-toggle label.active-toggle {
  background-color: $lightbrown-color;
}

/* ================ MAIN SEARCH ================ */

.main-search input {
  border: none;
  background-color: $white-color;
  color: $black-color;
  box-shadow: none;
  padding: 0 1em;
  margin: 0;

  border-radius: 0;

  flex-grow: 1;
  width: 100%;
  height: 30px;
}

.main-search button {
  flex-grow: 1;

  height: 30px;
  padding: 4px 18px;
  margin: 0;
  border: none;
  border-left: 1px solid $border-color;
  border-radius: 0;

  background-color: $white-color;

  .fa-search {
    @include font-size(21px);
    color: rgba($black-color, 0.8);
  }
}

/* ================ RATINGS SEARCH ================ */

#ratingsSearch,
#recentTastings {
  min-height: 250px;
}

#ratingsSearch {
  margin-right: 2em;
  .content-card_body p {
    padding: 1em 0 2.32em 0;
    margin: 0;
  }
}

.ratings-search input,
.glossary-search input,
.brands-search input,
.company-search input {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: none;
  background-color: $white-color;
  color: $black-color;
  box-shadow: none;
  padding: 0 1em;
  margin: 0;
  border-radius: 0;

  flex-grow: 1;
  width: 75%;
  height: 34px;
}

.ratings-search button,
.glossary-search button,
.brands-search button,
.company-search button {
  flex-grow: 1;

  height: 34px;
  padding: 0 1em;
  margin: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-radius: 0;

  background-color: $white-color;

  .fa-search {
    @include font-size(21px);
    color: rgba($black-color, 0.8);
  }
}

/* ================ RATINGS SEARCH RESULTS ================ */

#ratings-results_table {
  margin: 0 0 2em;
  padding: 0;
  background-color: #fff;

  tr#showItem1 > td {
    padding: 1em 0.56em;
  }

  tr#showItem1:first-of-type {
    border-top: none;
  }
}

#ratings-results_table thead {
  background-color: rgba($brown-color, 0.9);
  color: $white-color;
  @extend .small;
}

#ratings-results_table > thead > tr > th {
  border-bottom: none;
}

#ratings-results_table thead a {
  color: $gold-color;

  &:active,
  &:focus,
  &:visited {
    color: $gold-color;
    text-decoration: none;
  }

  &:hover {
    color: $white-color;
    text-decoration: none;
  }
}

#brand_name-heading {
  width: 23%;
  @include bp-small {
    width: 45%;
  }
}

#score-heading {
  width: 23%;
  @include bp-small {
    width: 10%;
  }
}

#country-heading {
  width: 23%;
  @include bp-small {
    width: 30%;
  }
}

#price-heading {
  width: 23%;
  text-align: center;
  @include bp-small {
    width: 10%;
  }
}

.ratings-results_container {
  margin: 0;
  padding: 0;
}

.ratings-results_img {
  width: 100%;
  padding: 0;
  float: inherit;
  margin: 0;

  @include bp-small {
    width: 47%;
    float: left;
    padding: 0 0.56em 0 0;
  }

  a {
    display: block;
  }
}

.ratings-results_score {
  width: 25%;
  padding: 1em 0.56em 0 0;
  margin: 0;
  float: left;
  text-align: center;

  @include bp-small {
    width: 10%;
    padding: 1em 0.56em 0 0;
    margin: 0;
    float: left;
  }

  .score-number {
    @include font-size(48px);
    font-weight: bold;
    color: $red-color;
    line-height: 1;
  }

  .score-label {
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    @extend .small;
  }
}

.ratings-results_info {
  width: 70%;
  float: left;
  border-left: 1px solid $border-color;
  padding: 0.72em 0 0.72em 1.24em;

  @include bp-small {
    width: 42%;
    padding: 0.72em 0 0.72em 1.24em;
  }
}

.ratings-results_info-extra {
  margin: 0.88em 0 0;
  @extend .small;
}

/* ================ COLLAPSE SEARCH ================ */

#collapseSearch {
  margin: 0;
  padding: 0;
  @include bp-small {
    margin-top: 0.24em;
  }
}

#collapseSearchMobile {
  margin: 0;
  padding: 0;
}

#collapseSearchMobile .main-search {
  margin-bottom: 0;

  input,
  button {
    border-radius: 0;
    height: 44px;
  }
}
