/* ================ SOCIAL ICONS ================ */

.social-icon_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.social-icon_item {
  flex-grow: 0;
  padding: 0;
  margin: 0 0.8em 0 0;
}

.social-icon_item a {
  display: block;
}

.social-icon_item img {
  max-width: 32px;
  height: auto;
}

.social-icon_item:last-of-type {
  margin-right: 0;
}
