/**
 * Personal Wine List
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700|Roboto+Slab:400,700);

/**
 * pwl
 */
.pwl {
    color: #515151;
    font-size: 16px;
}

.pwl-hr {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px
}

.pwl p {
    margin: 0;
}

.pwl p + p {
    margin-top: 24px;
}

/**
 * pwl container
 */
.pwl-container {
    background: #fff;
    margin-bottom: 24px;
    border-bottom: none;
}

@media (min-width:767px) {
    .pwl-container {
        padding: 15px;
        border-bottom: 1px solid #b9b9b9;
    }
}

/* pwl button */
.pwl-button {
    background: #ab0100 !important;
    float: none !important;
    padding: 4px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500 !important;
    text-transform: none;
}

/* pwl nav */
.pwl-nav {}

.pwl-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #515151;
}

.pwl-nav__item {
    font-family: "Roboto Condensed", Roboto, Helvetica Neue, Helvetica, Arial;
    display: inline-block;
    font-size: 18px;
    margin-right: 6px;
    padding-right: 12px;
    border-right: 3px solid #515151;
}

@media (min-width:767px) {
    .pwl-nav__item {
        font-size: 30px;
    }
}

.pwl-nav__item:last-of-type {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

.pwl-nav__item--active {
    font-weight: bold;
}

/* pwl intro */
.pwl-intro {
    font-size: 14px;
    margin-bottom: 24px;
}

/* @temp hack to ensure that the link after the cms text is on the same line */
.pwl-intro p {
    display: inline;
    font-size: 14px;
}

/* @temp hack to fix cms output */
.pwl-intro big {
    font-size: 14px;
}


/* pwl-flex */
.pwl-flex {
    display: block;
    margin-left: -8px;
    margin-right: -8px;
}

.flexbox .pwl-flex {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.flexbox .pwl-flex--center {
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;

}

.flexbox .pwl-flex--nowrap {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}


.pwl-flex__item {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
}

.flexbox .pwl-flex__item {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

.flexbox .pwl-flex__item--search {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

/*.flexbox .pwl-flex__item--half {
    flex: 1 0 50%;
    -webkit-flex: 1 0 50%;
}
*/
@media (min-width: 400px) {
    .flexbox .pwl-flex__item--search {
        flex: 1 0 280px;
        -webkit-flex: 1 0 280px;
    }
}


/* pwl form stuff */
.pwl-label {
    font-size: 12px;
    color: #777;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.pwl-label--divide {
    padding-top: 9px;
    border-top: 3px solid #ddd;
}

.pwl-input {
    color: white;
    border: none;
    font-size: 16px;
    margin-bottom: 0;
    background: #515151;
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.pwl-select {
    position: relative;
}

.pwl-select:before {
    content: "";
    position: absolute;
    bottom: 14px;
    right: 5px;
    z-index: 4;
    display: block;
    width: 0;
    height: 0;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid white;
}

/* pwl top items */
.pwl-top-items {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -15px;
    background-color:#cad9d3;
    border-top: 1px solid #b4c1bc;
    font-size: 14px;
    padding-top: 15px;
}

@media (min-width:767px){
    .pwl-top-items {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.pwl-top-items__print,
.pwl-top-items__values {
    display: none;
}

@media (min-width:600px) {
    .pwl-top-items__print,
    .pwl-top-items__values {
        display: block;
    }
}

.pwl-top-items ul {
    list-style: none;
    margin: 0;
}

.pwl-top-items__heading {
    font-weight: bold;
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
    margin-bottom: 10px;
}

.pwl-top-items__button {
    margin-bottom: 10px;
}

.pwl-top-items__button a {
    color: white;
    padding: 4px;
    text-align: center;
    background: #515151;
    -webkit-font-smoothing: antialiased;
    color: white;
    border-radius: 5px;
    display: block;
    font-size: 16px;
}

.pwl-top-items__button a:hover {
    text-decoration: none;
    background: #ab0100;
}

/* pwl List*/
.pwl-list {
    padding-top: 0;
    padding-bottom: 0;
}

/**
 * pwl item
 */
.pwl-item {
    border-top: solid 10px #515151;
    padding-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:767px){
    .pwl-item {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pwl-item:last-of-type {
    border-bottom: solid 10px #515151;
}

/**
 * pwl item heading
 */
.pwl-item-heading {
    border-bottom: none;
    font-family: "Roboto Condensed", Roboto, Helvetica Neue, Helvetica, Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

@media (min-width:767px){
    .pwl-item-heading {
        font-size: 18px;
    }
}


.pwl-item-heading a {
    color: #515151;
}

.pwl-item-heading a:hover {
    text-decoration: none;
}

.pwl-item-heading-winery {
    color: #ab0100;
    font-size: 18px;
}

@media (min-width:767px){
    .pwl-item-heading-winery {
        font-size: 24px;
    }
}



/**
 * pwl-data-form-group
 */
.pwl-data-form-group {
    margin: 0;
}

/**
 * pwl-side
 */
.pwl-side .editable-click {
    border-bottom: dotted 1px #9C9395;
}


/**
 * pwl-data-meta
 */

.pwl-data-meta {
     /*background: #b6c5bf;*/
    background: #cad9d3;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-top: 1px solid #b4c1bc;
    border-right: 1px solid #b4c1bc;
    border-bottom: 1px solid #b4c1bc;
    border-left: 1px solid #b4c1bc;
}

@media (min-width:767px){
    .pwl-data-meta {
        border-left: none;
        margin-left: -15px;
        margin-right: -15px;
    }
}


.pwl-data-meta .form-group,
.pwl-data-meta .list-unstyled {
    margin: 0;
}

.pwl-data-meta .checkbox {
    margin-bottom: 20px;
    padding-left: 0;
}

/**
 * Add hover focus and click states later
 */
.pwl-data-meta .checkbox label {
    padding: 5px 8px;
    background: #515151;
    text-decoration: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
}

.pwl-data-meta .checkbox input[type=checkbox] {
    margin-left: 0;
    margin-right: 10px;
    float: none;
    cursor: pointer;
}

.pwl-data-meta-list {
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
    color: #515151;
    font-size: 14px;
    font-weight: bold;
}

.pwl-data-meta-datum {
    font-weight: normal;
    color: #ab0100;
    font-weight: 700px;
}



.pwl-data-ratings .mod-heading {
    float: left;
    margin-right: 10px;
    border-bottom: 0;
    padding-top: 2px;
}

.pwl-data-ratings .jRatingAverage {
    background: #ab0100;
}

.pwl-text {
    font-size: 14px;
}

@media (min-width:767px){
    .pwl-text {
        font-size: 14px;
    }
}

.pwl-text .paragraph {
    margin: 0;
    margin-top: -3px;
    margin-bottom: 10px;
    color: #515151;
}

.pwl-text .paragraph a {
    color: #a90329;
}



.pwl-text h6 {
    display: inline;
    font-weight: bold;
}

.pwl-text strong {
    font-weight: 700;
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
}

.pwl-tasting-note-memeber a {
    color: #515151;
}

.pwl-tasting-note-memeber a:hover {
    color: #ab0100;
}


/**
 * celler-data-toggle
 */
.celler-data-toggle {
    text-align: left;
}

.celler-data-toggle a {

    background: #cad9d3;
    display: inline-block;
    padding: 5px;
    padding-left: 15px;
    border-top: 1px solid #8EA099;
    border-right: 1px solid #8EA099;
    border-left: 1px solid #8EA099;
}

.celler-data-toggle a:hover {
    background: #ab0100;
    text-decoration: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    transition: all 88ms linear;
}

.pwl-cellar {
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    background-color:#cad9d3;
    border-top: 1px solid #b4c1bc;
    border-right: 1px solid #b4c1bc;
    border-left: 1px solid #b4c1bc;
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
}

@media (min-width:767px){
    .pwl-cellar {
        margin-left: -15px;
        margin-right: -15px;
    }

    .celler-data-toggle a {
        margin-left: -15px;
    }
}

.pwl-cellar strong {
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
    color: #515151;
    font-weight: 700;
    font-size: 14px;
}

.pwl-cellar .paragraph {
    margin: 2px 0;
}

.pwl-side .editable-click {
    border-bottom: dotted 1px #9C9395;
}
.pwl-cellar .editable-click {
    border-bottom: dotted 1px #ab0100;
}


/* cellar data toggle */
.show-all-cellar {
    background: #cad9d3;
    display: inline-block;
    padding: 5px;
    padding-left: 15px;
    border-top: 1px solid #8EA099;
    border-right: 1px solid #8EA099;
    border-left: 1px solid #8EA099;
    border-radius: 0;
}

.show-all-cellar:hover {
    text-decoration: none;
    color: white;
    background: #ab0100;
    -webkit-font-smoothing: antialiased;
    transition: all 88ms linear;
}



/* pwl-bar */
.pwl-bar {
    color: white;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #590216;
    left: 0;
    z-index: 10;
    display: block;
}

@media (min-width:992px){
    .pwl-bar {
        display: none;
    }
}
.pwl-bar-list {
    list-style: none;
}

.pwl-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pwl-bar li {
    width: 50%;
    text-align: center;
    float: left;
    display: block;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.pwl-bar li + li {
    border-left: solid 1px #58645F;
}


.pwl-panel-trigger {
    border-top: 1px solid #58645F;
    background: #cad9d3;
    color: #ab0100;
}
.pwl-panel-trigger.is-active {
    background: #ab0100;
    color: white;
}


.pwl-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    backface-visibility: hidden;
    background: #cad9d3;
}

.pwl-panel.is-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (min-width:992px){
 .pwl-panel.is-active {
    display: none;
 }
}

.pwl-panel {
    color: #515151;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}

.pwl-panel__heading {
    font-weight: bold;
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
    font-size: 20px;
    margin-bottom: 10px;
}

.pwl-panel__list {
    margin: 0;
    list-style: none;
}

.pwl-panel__list a {
    display: block;
    color: white;
    padding: 4px;
    text-align: center;
    background: #515151;
    -webkit-font-smoothing: antialiased;
    color: white;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.pwl-item-cellar-extra {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pwl-sidebar {
    position: fixed;
    left: 50%;
    top: 5%;
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    transform: translateX(300%);
    display: block;
    background: white;
    color: #515151;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 10;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 4px;
}


@media (min-width:992px){
    .pwl-sidebar {
        display: block;
        width: 292px;
        margin-left: 324px;
    }
    .pwl-sidebar.active {
        display: block;
        opacity: 1;
        width: 292px;
        margin-left: 324px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: opacity 0.3s ease;
    }
}

@media (min-width:1200px){
    .pwl-sidebar {
        display: block;
        width: 360px;
        margin-left: 390px;
    }
    .pwl-sidebar.active {
        display: block;
        opacity: 1;
        width: 360px;
        margin-left: 390px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: opacity 0.3s ease;
    }
}



.pwl-sidebar ul {
    list-style: none;
    margin: 0 -10px;
    padding: 10px;
    background: #cad9d3;
    margin-bottom: -2px
}

.pwl-sidebar ul:last-of-type {
    padding-bottom: 20px;
}


.pwl-list-values {
    font-family: Roboto Slab, Roboto, Helvetica Neue, Helvetica, Arial;
    font-weight: bold;
}

.pwl-list-values span {
    font-weight: normal;
    color: t
}

