html, body{
    background: #313642;
    background-image: url("/images/wsm/stripe.png");
    color: #2f2f2f;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#m{
    height: 100%;
}
#page{

}

#stripe{
    height: 100%;
}
.container{
    background-color: #f2f3ee;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
overflow: hidden;
    margin: 0 10px 15px;
    height: 100%;
}
*{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h2{
    color: #9e1e22;
    margin: 10px 0 8px;
}
h5{
	margin-bottom: 10px;
}
p{
    color: #2f2f2f;
    margin: 0 0 18px;
}
a:link{ 
	color:blue; 
	text-decoration:none; 
}
a:active{ 
	color:blue; 
}
a:visited{ 
	color:#7693b0;
	text-decoration:none;
}
a:hover{ 
	text-decoration:underline; 
}
/* ========================================================= Header ===*/
header{
    background: #3d3d3d;
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #100e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#100e0e));
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
    background: -o-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#100e0e 100%);
    background: linear-gradient(to bottom,  #3d3d3d 0%,#100e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#100e0e',GradientType=0 );
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    margin: 0 0 15px;
    padding: 0;
    position: relative;
}
header h1{
    color: #e3c051;
    display: block;
    height: 40px;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 2px 0 4px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}
header h1 span{
    color: #fff;
}
header h1 span{
    font-size: 22px;
}
header h1 img{
	margin: 8px 0 0;
}
header h1 strong{
    color: #aaa;
    font-weight: 300;
    vertical-align: text-top;
}
header #menu{
    position: relative;
}
header #menu a {
    background: #535353;
    background: -moz-linear-gradient(top,  #535353 0%, #313131 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#535353), color-stop(100%,#313131));
    background: -webkit-linear-gradient(top,  #535353 0%,#313131 100%);
    background: -o-linear-gradient(top,  #535353 0%,#313131 100%);
    background: -ms-linear-gradient(top,  #535353 0%,#313131 100%);
    background: linear-gradient(to bottom,  #535353 0%,#313131 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#313131',GradientType=0 );
    border: 1px solid #1f1f1f;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 16px 1px;

    left: 0px;
    position: absolute;
    top: 6px;
}
header #menu a, header #menu a:hover{
    color: #ececec;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}
header #user-session {
	position: absolute;
    right: 12px;
    top: 11px;
}
header #user-session a{
	color: #ddd;
}
/* ========================================================= Page ===*/
#pagebody {
/*
    background: #424859;
    background: -moz-linear-gradient(top,  #424859 0%, #17191f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424859), color-stop(100%,#17191f));
    background: -webkit-linear-gradient(top,  #424859 0%,#17191f 100%);
    background: -o-linear-gradient(top,  #424859 0%,#17191f 100%);
    background: -ms-linear-gradient(top,  #424859 0%,#17191f 100%);
    background: linear-gradient(to bottom,  #424859 0%,#17191f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424859', endColorstr='#17191f',GradientType=0 );
*/

    margin: 0;
    box-shadow: -1px 0 3px rgba(0,0,0,0.5);

    position: relative;
    left: 0;
    height: 100%;
    z-index: 99999;
}

#pagebody-red{
    background: #580000;
    background: -moz-linear-gradient(left,  #580000 0%, #a61318 50%, #580000 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#580000), color-stop(50%,#a61318), color-stop(100%,#580000));
    background: -webkit-linear-gradient(left,  #580000 0%,#a61318 50%,#580000 100%);
    background: -o-linear-gradient(left,  #580000 0%,#a61318 50%,#580000 100%);
    background: -ms-linear-gradient(left,  #580000 0%,#a61318 50%,#580000 100%);
    background: linear-gradient(to right,  #580000 0%,#a61318 50%,#580000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#580000', endColorstr='#580000',GradientType=1 );

    margin: 0;
    box-shadow: -1px 0 3px rgba(0,0,0,0.5);

    position: relative;
    left: 0;
    height: 100%;
    z-index: 99999;
}
#pagebody-white{
    background: #7dd214;
    background: -moz-linear-gradient(left, #3a6803 100%, #2a4a02 0%, #3a6803 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3a6803), color-stop(50%,#2a4a02), color-stop(100%,#7dd214));
    background: -webkit-linear-gradient(left,  #3a6803 0%,#2a4a02 50%,#3a6803 100%);
    background: -o-linear-gradient(left,  #3a6803 0%,#2a4a02 50%,#7dd214 100%);
    background: -ms-linear-gradient(left,  #3a6803 0%,#2a4a02 50%,#7dd214 100%);
    background: linear-gradient(to right,  #3a6803 0%,#2a4a02 50%,#7dd214 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6803', endColorstr='#3a6803',GradientType=1 );

    margin: 0;
    box-shadow: -1px 0 3px rgba(0,0,0,0.5);

    position: relative;
    left: 0;
    height: 100%;
    z-index: 99999;
}
/* ========================================================= Title ===*/
.title, .subtitle{
    background: #fad55a;
    background: -moz-linear-gradient(top,  #fad55a 0%, #bda144 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad55a), color-stop(100%,#bda144));
    background: -webkit-linear-gradient(top,  #fad55a 0%,#bda144 100%);
    background: -o-linear-gradient(top,  #fad55a 0%,#bda144 100%);
    background: -ms-linear-gradient(top,  #fad55a 0%,#bda144 100%);
    background: linear-gradient(to bottom,  #fad55a 0%,#bda144 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad55a', endColorstr='#bda144',GradientType=0 );
    border-bottom: 1px solid #7e7f7c;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 #fdecb3 inset;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
}
.title strong{
	color: #000;
}
.subtitle{
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.subtitle span{
	color: #555555;
    font-size: 14px;
}
/* -----------------------------------------=content */
#container{

}
.content{
	padding: 0 0 10px;
	margin:10px 10px 0;
}
#intro{
	font-size: 14px;
	margin: 10px 0 15px;
	text-align: center;
}
/* -----------
 -- nav --
----------- */
.nav{
	margin: 0;
}
.nav li{
	background: #fdfdfd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#eee));
	background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eee',GradientType=0 );
	border-bottom: 1px solid #e3e3e3;
	list-style: none;
	padding: 0 13px;
	position: relative;
}
.nav li:last-child{
	border-radius: 0 0 3px 3px;
}
.nav li.blank{
	background-color: #fff;
	background: none;
}
.nav li a{
	color: #333;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 13px;
	position: relative;
	/*overflow: hidden;
    white-space: nowrap;*/ /*K- I need it to wrap for the top 100*/
	text-shadow: 0 -1px 0 rgba(255,255,255,0.6);
}
.nav li a span{
	right: 0;
}
.link_icon {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("/images/wsm/link_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
     border-radius: 9px;
}
.search_icon {
    background-image: url("/images/wsm/search_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -9px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
}
.star_icon {
    background-image: url("/images/wsm/star_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -9px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
}
.bottle_icon {
    background-image: url("/images/wsm/bottle_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -9px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
}
.ws360_icon {
    background-image: url("/images/wsm/ws360_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -9px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
}
.picks_icon {
    background-image: url("/images/wsm/picks_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -9px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 18px;height: 18px;
}
.list_text{
	margin: 0 0 0 22px;
	font-weight: bold;
}
.list_search{
	margin: 0 0 0 24px;
}
#nav .info{
	background-color: #c2b892;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(194, 184, 146)), to(rgb(156, 149, 117)));
	background-image: -webkit-linear-gradient(top, rgb(194, 184, 146), rgb(156, 149, 117));
	background-image: -moz-linear-gradient(top, rgb(194, 184, 146), rgb(156, 149, 117));
	background-image: -o-linear-gradient(top, rgb(194, 184, 146), rgb(156, 149, 117));
	background-image: -ms-linear-gradient(top, rgb(194, 184, 146), rgb(156, 149, 117));
	background-image: linear-gradient(top, rgb(194, 184, 146), rgb(156, 149, 117));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c2b892', EndColorStr='#9c9575');
	border-bottom: 1px solid #878065;
	border-top: 1px solid #d6cba3;
	color: #fff;

}
/* -----------
 -- login form --
----------- */
#wine_login{}
#wine_login fieldset{
	background-color:#f7f7f7;
	border: 1px solid #dfe0dc;
	margin: 0 0 10px;
	padding:10px 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	 border-radius: 5px;
}
#wine_login fieldset ul{
	margin: 0;
}
#wine_login fieldset li{
	list-style: none;
}
#wine_login fieldset label {
	color:#333;
	display:block;
	font-size:15px;
}
#wine_login fieldset input {
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
    color: #333333;
    font-size: 16px;
    margin-bottom: 13px;
    padding: 7px 0 5px 8px;
    vertical-align: baseline;
    width: 100%;
}
#wine_login fieldset input[type="submit"]{
	background-color: #8c0d19;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(140, 13, 25)), to(rgb(116, 10, 20)));
	background-image: -webkit-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -moz-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -o-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -ms-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8c0d19', EndColorStr='#740a14');
	border: 1px solid #610912;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	color: #fff;
	display: block;
	height: 46px;
	margin: 10px 0 20px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	 border-radius: 3px;
}
#wine_logout{
	margin: 0 10px;
}
#wine_logout fieldset input {
	border:1px solid #DEDEDE;
	color:#333;
	font-size:13px;
	float: right;
	height:17px;
	margin-bottom:13px;
	padding:3px 0 3px 5px;
	vertical-align:baseline;
	width: 70%;
}
#wine_logout fieldset input[type="submit"]{
	background-color: #740a14;
	border: none;
	color: #fff;
	display: block;
	font-weight: bold;
	height: 24px;
	overflow: hidden;
	position: relative;
	padding: 3px 25px;
	right: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30%;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	 border-radius: 3px;
}
/* -----------
 -- top 100 --
----------- */
#top_100{
	margin: 0 0 10px;
}

#sortby{
	display: inline-block;
}
#sortby li{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0 4px 0 0;
	text-align: center;
	vertical-align: middle;
}
#sortby li a{
	text-decoration: none;
}
.top_rank {
	font-weight: bold;
    margin-top: -9px;
    position: absolute;
    top: 50%; left: 0;
}
.top_wine{
	display: block;
	margin: 3px 30px 0 30px;
	font-weight: bold;
}
.top_score{
	display: block;
	margin: 0 0 0 30px;
}
.top_price{
	display: block;
	/* text-align: right;
	float: right; */
	margin: 0 0 0 30px;
}
.top_arrow{
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("/images/wsm/link_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    position: absolute;
    top: 50%; right:-8px !important;
    width: 18px;height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
     border-radius: 9px;
}
/* -----------
 -- pwl --
----------- */
.pwl-title{
	display: block;
	margin: 3px 20px 0 0;
	font-weight: bold;
}
.wine_spectator_rating{
	background-image: url(/images/wsm/wine_icon.png);
	background-repeat: no-repeat;
	background-color: #FBE088;
	color: #333;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 2px;
	padding: 2px 5px 3px 18px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
     border-radius: 2px;
}
.your_rating{
	background-image: url(/images/wsm/user_icon.png);
	background-repeat: no-repeat;
	background-color: #F16A77;
	color: #333;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 2px;
	padding: 2px 5px 3px 18px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
     border-radius: 2px;
}
.your_cellar_information{
	background-image: url(/images/wsm/cellar_icon.png);
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	color: #333;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 2px;
	padding: 2px 5px 3px 18px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
     border-radius: 2px;
}
/* -----------
 -- ads --
----------- */
.adsmobile{

}
.adsmobile p{
	text-align:center;
}
/* -----------------------------------------=search */
.search_score, .search_wine, .search_price{
  display: block;
}
.search_wine{
	font-size: 14px;
	font-weight: bold;
	/* margin: 3px 0px 0 0; */
}
.nolink{
	color: #333;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 13px;
	position: relative;
	/*overflow: hidden;
    white-space: nowrap;*/ /*K- I need it to wrap for the top 100*/
	text-shadow: 0 -1px 0 rgba(255,255,255,0.6);
}
.search_text{
	display: inline-block;
	margin: 0 30px 0 0;
}
.winesearch #winery{

}
.winesearch #winery {
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
    color: #333333;
    font-size: 16px;
    padding: 7px 0 5px 8px;
    vertical-align: baseline;
    width: 100%;
}
.winesearch input[type="submit"]{
	background-color: #8c0d19;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(140, 13, 25)), to(rgb(116, 10, 20)));
	background-image: -webkit-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -moz-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -o-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: -ms-linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	background-image: linear-gradient(top, rgb(140, 13, 25), rgb(116, 10, 20));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8c0d19', EndColorStr='#740a14');
	border: 1px solid #610912;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 40px;
	margin: 10px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.winesearch input[type="reset"]{
	background-color: #07114a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(13,24,140)), to(rgb(116, 10, 20)));
	background-image: -webkit-linear-gradient(top, rgb(13,24,140), rgb(13,24,140));
	background-image: -moz-linear-gradient(top, rgb(13,24,140), rgb(116, 10, 20));
	background-image: -o-linear-gradient(top, rgb(13,24,140), rgb(116, 10, 20));
	background-image: -ms-linear-gradient(top, rgb(13,24,140), rgb(116, 10, 20));
	background-image: linear-gradient(top, rgb(13,24,140), rgb(116, 10, 20));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8c0d19', EndColorStr='#740a14');
	border: 1px solid #07114a;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 16px;
	height: 40px;
	margin: 10px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	width: 30%;
}
#prev-next{
	font-size: 16px;
	border: black;
}
#prev-next a{
	display: inline-block;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
}
#prev-next #prev{
}
#prev-next #next{
	text-align: right;
}
/* -----------------------------------------=Vintage Chart */
#vintagechart{

}
#vintagechart #chart{
	margin: 0;
	padding: 0;
}
#vintagechart #chart-title{
	padding: 10px 13px;
}
#vintagechart #chart-title .year{
	display: inline-block;
	width: 65px;
}
#vintagechart #chart-title .rating{
	display: inline-block;
	width: 65px;
}
#vintagechart #chart-title .recommendation{
	display: inline-block;
	width: 120px;
}
#vintagechart #chart-title .description{

}
#vintagechart #chart li{
	background: #fdfdfd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#eee));
	background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eee',GradientType=0 );
	border-bottom: 1px solid #e3e3e3;
	font-size: 16px;
	list-style: none;
	padding: 10px 13px;
	position: relative;
}
#vintagechart #chart .nyr .recommendation{
	color: #e3c139;
}
#vintagechart #chart .drink .recommendation{
	color: #8e8c55;
}
#vintagechart #chart .drinkorhold .recommendation{
	color: #8e8c55;
}
#vintagechart #chart .hold .recommendation{
	color: #bc2e19;
}
#vintagechart #chart .year{
	display: inline-block;
	font-weight: bold;
	width: 65px;
}
#vintagechart #chart .rating{
	color: #F72A3F;
	display: inline-block;
	font-weight: bold;
	width: 65px;
}
#vintagechart #chart .recommendation{
	display: inline-block;
	font-weight: bold;
	width: 120px;
}
#vintagechart #chart .description{
	display: block;
}
/* -----------------------------------------=WS360 */
#ws360{

}
#ws360 #news{
	margin: 0;
	padding: 0;
}
#ws360 #news li{
	background: #fdfdfd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#eee));
	background: -moz-linear-gradient(top, #fdfdfd 0%, #eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eee',GradientType=0 );
	border-bottom: 1px solid #e3e3e3;
	list-style: none;
	padding: 0 13px;
	position: relative;
}
#ws360 #news a{
	text-decoration: none;
}
#ws360 #news li h4{
	font-size: 20px;
	padding: 10px 0 0;
}
#ws360 #news li p{
	margin: 0 0 18px;
}
#ws360 #news li small{
	color: #666;
	display: block;
	margin: 0 0 10px;
}
article{
	padding: 20px;
}
/*
article em{
	display: inline-block;
}
*/
article p{
	font-size: 16px;
}
article h2{
	font-size: 20px;
}
article h3, article h4{
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
}
article img{
	max-width: 100%;
	height: auto;	
}
article ul{
	margin-bottom: 18px;
}
article li{
	font-size: 16px;
}
article .article-title{
	display: block;
	font-size: 20px;
	font-family: sans-serif;
	color: #8c0d19;
}
article .article-subtitle{
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	padding: 0px 0px 10px 0px;
}
article .article-byline{
	display: block;
	font-size: 14px;
	font-family: sans-serif;
	font-style: italic;
}
	
/* -----------------------------------------=dialog */
#dialog{
	background-color: #333;
	padding: 20px;
}
#dialog-window{
	background-color: #111;
	border: 1px solid #000;
	color: #fff;
	padding: 10px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     border-radius: 3px;
}
#dialog-window h5{
	border-bottom: 1px solid #333;
	color: #fff;
	background-image: url(/images/wsm/question.png);
	background-repeat: no-repeat;
	padding: 1px 5px 5px 23px;
}
a.button{
	background-color: #740a14;
	border: none;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 24px;
	overflow: hidden;
	position: relative;
	padding: 6px 25px 3px;
	right: 0;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
}

/* -----------------------------------------=footer */
footer{
	margin: 10px 0 0;
	position: relative;
	text-align: center;
	font-size: 16px;
}
footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
footer li{
	display: inline;
	margin: 0;
	padding: 0;
}
footer a, footer a:active, footer a:visited, footer a:link{
	color: #ddd;
	padding: 5px 10px;
	text-decoration: none
}
footer a:hover{
	color: #fff;
}
/* -----------------------------------------=utility */
p{
	margin: 0 0 10px;
}
h1{
  color: #323232;
  font-size: 41px;
  font-weight: 400;
  margin: 0 0 5px;
}
h2{
  color: #323232;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 0;
}
h3{
  color: #323232;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 28px;
  margin: 0 0 5px;
}
h4{
  color: #323232;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
}
/* h6 - account name / logout*/
h6{
	color: #a04d54;
	display: inline-block;
	font-size: 13px;
	padding: 0 10px;
	margin: 5px;
}
.clear{clear: both;}
.nomargin{margin:0;}
strong{color: #000;}
figure{

}
figcaption{

}
.caption{
	font-size: 13px;
}
/* -----------
 -- notice --
----------- */
.error{
    background-color: #8c0d19;
    border: 2px solid #8c0d19;
    color: #610101;
    outline: 1px solid #8c0d19;
    margin: 0 10px 10px; padding:5px;
}
.success{
    background-color: #fad55a;
    border: 2px solid #fad55a;
    border-radius: 4px;
    color: #016118;
    outline: 1px solid #fad55a;
    margin: 10px; padding:5px;
}
/* -•- */