/* ******** Copyright © 2008 Wine Spectator Online ******** */
/* ******** Copyright © 2008 M. Shanken Communications Inc. ******** */
/* Web page frame is divided into 3 horizontal boxes: header, Wrapper and footer
** The body (Wrapper) can contain 2 columns, contentBox and adsBox or
** it can contain one expanded box wideContentBox
/*	******** ******** ******** ******** ******** ******** */
	
body
{
	margin:0;
	padding:0;
	text-align:center;
	background-color:#fff;
}
#wrapper, #header, #footer, #leaderBannerAd
{
	width:996px;
	margin:auto;
	padding:0;
}
#wrapper
{
	margin:0 auto;
	padding:0;
	background-color:#fff;
	background:url(/images/wsContentBg.gif) repeat-y;
}
#header
{
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:left;
	width:996px;
	background:url(/images/header_bg.gif) repeat-x;
	background-color:#eee;
	border-top:6px solid #afafaf;
}
#footer
{
	clear:both;
	margin:auto;
	padding:10px 0 20px;
	background-color:#fff;
}
.addclear:after, .moduleLarge:after, .module:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}/* Does not for IE */

/* ******** ******** ******** ******** */
/* ******** 	Header		 ******** */
/* ******** ******** ******** ******** */
#header a:link, #header a:visited, #header a:hover
{
	color:#03c;
	text-decoration:none;
}
#header .topUserMenu
{
	width:100%;
	background-color:#dedede;
	padding:0;
	margin:0 auto;
	color:#03c;
	border-top:1px solid #fff;
	text-align:center;
}
#header .topUserMenu div
{
	width:980px;
	margin:0 auto;
	padding:0
}
#header .topUserMenu p
{
	margin:0 auto;
	padding:0;
	float:left;
	color:#03c;
}
#header .topUserMenu table
{
	margin:0;
	float:left;
	height:32px;
}
#header .topUserMenu table td
{
	margin:0;
	padding:0 7px;
	font:bold 12px Arial, Helvetica, sans-serif;
	border-right:1px solid #999;
	vertical-align:middle;
}
#header .topUserMenu form
{
	padding:4px 0 0;
	margin:0 auto;
	float:right;
}
#header .topUserMenu form .searchSubmitButon
{
	background-color:#900;
	color:#fff;
	font-weight:bold;
}

#header .topUserMenu label
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
#header .topUserMenu div form a:hover
{
	text-decoration:underline;
	color:#000;
}
#header .wsLogo
{
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
#header .wsLogo img
{
	margin:0;
	padding:0;
}
#header .wsLogo #adimgright, #header .wsLogo #adimgleft
{
	padding:6px 0;
	margin:auto;
	width:32%;
	text-align:center;
	margin-top:4px;
}
#header .wsLogo #adimgright
{
	float:right;
}
#header .wsLogo #adimgleft
{
	float:left;
}
#header .wsMenuBar
{
	clear:both;
	margin:0 auto;
	background-color:#ccc;
	text-align:center;
}
#header .wsMenuBar dl, #header .wsMenuBar dt, #header .wsMenuBar dd, #header .wsMenuBar ul, #header .wsMenuBar li
{
	list-style-type:none;
	color:#999;
	margin:0;
	padding:0;
}
#header .wsMenuBar dt, #header .wsMenuBar dd
{
	padding:7px 0;
}
#header .wsMenuBar dd
{
	background-color:#900;
	width:100%;
}
#header .wsMenuBar dd a
{
	color:#fff;
}
#header .wsMenuBar li
{
	display:inline;
}

#header .wsMenuBar a:link, #header .wsMenuBar a:active, #header .wsMenuBar a:visited, #header .wsMenuBar a:hover
{
	padding:7px 4px;
}
#header .wsMenuBar dd a:link, #header .wsMenuBar dd a:active, #header .wsMenuBar dd a:visited, #header .wsMenuBar dd a:hover
{
	color:#fff;
}
#header .wsMenuBar dl dt a:hover, #header .wsMenuBar dl dt a:link.show, #header .wsMenuBar dl dt a:active.show, #header .wsMenuBar dl dt a:visited.show
{
	color:#fff;
	background-color:#900;
	border-color:#fff;
	position:relative;
	z-index:1;
}
#header .wsMenuBar .hide
{
	display:none;
}
#header .wsMenuBar .show
{
	display:inline;
}
/* ******** ******** ******** ******** */
/* ********  Body (wrapper)	 ******** */
/* ******** ******** ******** ******** */
/* * Content box * */
#leaderBannerAd
{
	margin:0 auto;
	padding:0;
	background-color:#fff;
}
#leaderBannerAd p
{
	margin:0;
	padding:3px;
}
#contentBox
{
	float:left;
	width:662px;
	margin:0;
	padding:0;
	text-align:left;
	margin-left:7px;
	_margin-left:5px;
}
#wideContentBox
{
	margin:10px;
	padding:0;
	text-align:left;
	background-color:#fff;
}
.topTitle
{
	margin:0 0 10px;
	color:#900;
	font-weight:normal;
	clear:both;
	border-bottom:2px solid #900;
}
.topTitle span
{
	font-size:12px;
	font-weight:bold;
	color:#000;
}
#leftCol,#rightCol
{
	width:326px;
	margin:0;
	position:relative;
}
/*#wideContentBox #leftCol, #wideContentBox #rightCol
{
	width:450px;
}*/
#leftCol
{
	clear:both;
	float:left;
}
#rightCol
{
	float:right;
}
/* * Constructing the modules * */
.moduleOpen, .moduleClose, .moduleLargeOpen, .moduleLargeClose, .navMenuBoxOpen, .navMenuBoxClose
{
	font:7px Arial, Helvetica, sans-serif;
}
.moduleOpen, .moduleClose
{
	width:326px;
	height:7px;
	margin:0;
	padding:0;
}
/*#wideContentBox .moduleOpen, #wideContentBox .moduleClose
{
	width:398px;
}*/
.module
{
	width:326px;
	margin:0;
	padding:1px 0;
	text-align:left;
}
/*#wideContentBox .module
{
	width:380px;
}*/
.moduleLargeOpen, .moduleLargeClose
{
	width:662px;
	height:7px;
	margin:0;
	padding:0;
}
#wideContentBox .moduleLargeOpen, #wideContentBox .moduleLargeClose
{
	width:814px;
}
.moduleLarge
{
	width:658px;
	background-color:#fff;
	margin:0;
	padding:1px 0;
}
#wideContentBox .moduleLarge
{
	width:958px;
	text-align:left;
}
/* * Advertising box * */
#adsBox
{
	float:right;
	width:307px;
	margin:0;
	margin-right:7px;
	_margin-right:5px; /* _??? use to solve IE problems */
}
#adsBox .moduleOpen, #adsBox .moduleClose
{
	width:304px;
}


/* ******** ******** ******** ******** */
/* ********  	Footer		********  */
/* ******** ******** ******** ******** */
#footer p
{
	margin:0;
}
#footer p.center
{
	text-align:center;
}
#footer .hidden
{
	visibility:hidden;
}
#footer .leftFooterAds
{
	float:left;
}
#footer .rightFooterAds
{
	float:right;
}
#footer .leftFooterAds, #footer .rightFooterAds, #footer .centerFooterAds
{
	width:33%;
	margin:auto;
}
#footer .leftFooterAds p, #footer .rightFooterAds p, #footer .centerFooterAds p
{
	margin:10px auto;
	text-align:center;
}
#outSiderWrapper/* Delete me after launch */
{
	width:97%;
	margin:auto;
}