/* ******** Copyright © 2008 M. Shanken Communications Inc. ******** */
/* ------------------------------------------  ------------------------------------------ */
/* ***	Start: All fonts	*** */
/* ------------------------------------------  ------------------------------------------ */

h1
{
	font-size:36px;
}
h2
{
	font-size:24px;
}
h3
{
	font-size:18px;
}
h4
{
	font-size:16px;
}
h5
{
	font-size:14px;
}
h6
{
	font-size:12px;
}
h1,h2,h3,h4,h5,h6
{
	font-family:Arial, Helvetica, sans-serif;
	color:#900;
}
p,ul,li,dl,dt,dd,td,label,legend,address, div
{
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
}
h1,h3,h4,h5,h6
{
	line-height:1.2;
}
p,ul,li,dl,dt,dd
{
	line-height:1.5;
}
a:link
{
	color:#33c;
	text-decoration:none;
}
a:active
{
	color:#636;
}
a:visited
{
	color:#906;/*7693b0 8d9ba9 7693b0 669 */
	text-decoration:none;
}
a:hover
{
	/* color:#036; */
	text-decoration:underline;
}
/* Start: header box */
#header p, #header ul, #header li, #header dl, #header dt, #header dd
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:normal;
	color:#fff;
}
/* Start: content box */
.breadcrumb
{
	margin-top:0;
	font:11px Arial, Helvetica, sans-serif;
}
.breadcrumb2
{
	margin:0 auto;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#000;
}
.b4mblog
{
	margin:8px auto 0;
}
.navicon
{
	float:right;
	border:1px solid #c2c7c3;
	background:url(/images/wso/iconsbg.gif) #eee no-repeat 0 2px;
	background-repeat:;
}
.navicon img
{
	padding:3px;
}
.topTitle .topSubTitle1
{
	color:#900;
	font-size:18px;
	font-weight:normal;
}
.topTitle .topSubTitle2
{
	color:#000;
	font-weight:bold;
	font-size:12px;
	vertical-align:middle;
}
.topTitle img
{
	margin:0;
	float:right;
	vertical-align:middle;
}	
.wstitle, .title
{
	margin-bottom:5px;
	font-weight:normal;
	line-height:95%;
}
.wssubtitle, .subtitle
{
	margin-top:5px;
	color:#000;
	line-height:100%;
}
.wstitleblog, .wssubtitleblog
{
	color:#900;
	font-weight:normal;
}
.wstitleblog
{
	border-bottom:1px dashed #999;
}
.wsdeckblog
{
	margin-top:-15px;
	color:#000;
}
.bypostline, .postdate
{
	margin:12px 0;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.bypostlineblog
{
	margin:auto;
	font-weight:normal;
	 margin-top:-18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.searchTitle
{
	background-color:#e3e3e3;
	padding:3px;
}
.searchTitle span
{
	display:block;
	float:right;
	font-size:11px;
	font-weight:normal;
	padding:2px;
}
a.headerLink:link, a.headerLink:hover, a.headerLink:visited, a.readMoreLink:link, a.readMoreLink:hover, a.readMoreLink:visited
{
	font-weight:bold;
}
a.textLink:link
{
	color:#000;
}
a.textLink:visited
{
	color:#666;
}
th, td label
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	vertical-align:top;
} 
td
{
	vertical-align:top;
}
legend
{
	font-size:17px;
	font-weight:bold;
	color:#900;
}
label
{
	font-weight:bold;
}
caption
{
	font:italic 11px Arial, Helvetica, sans-serif;
}
#hide, .hide
{
	display:none;
}
#show, .show
{
	display:block;
}
#showinline
{
	display:inline;
}
/* +++ Start: Module inside content +++ */
/* ------------------------------------------  ------------------------------------------ */
.module h1, .module h2, .module h4, .module h5, .module h6,
.moduleLarge h1, .moduleLarge h2, .moduleLarge h4, .moduleLarge h5, .moduleLarge h6
{
	font-family:Arial, Helvetica, sans-serif;
}
.module p, .module td, .module dt, .module dd, .module li,
.moduleLarge p, .moduleLarge td, .moduleLarge dt, .moduleLarge dd, .moduleLarge li
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.3;
}
/*.module p, .module table, .module dt, .module dd, .module li
{
	padding-left:10px;
}*/
.module h3, .moduleLarge h3
{
	margin:0 0 7px 0;
	padding:5px 2px 5px 20px;
	background-color:#e3e3e3;
	clear:both;
	color:#33c;
}
.moduleLarge h3
{
	text-align:center;
	padding:5px 0;
}
.module h3 a, .moduleLarge h3 a
{
	color:#33c;
}
.module h3 a:visited, .moduleLarge h3 a:visited
{
	color:#906;
}
.module h3 small, .moduleLarge h3 small
{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.module h4 span, .moduleLarge h4 span
{
	font-size:12px;
	font-weight:normal;
}
.module p.contentType, .moduleLarge p.contentType
{
	margin:0px;
	/*_margin-top:0;
	text-transform:capitalize;*/
	font-size:11px;
}
.module p .big, .moduleLarge p .big
{
	font-size:13px;
	font-weight:bold;
}
.module .headlinesep, .moduleLarge .headlinesep
{
	clear:both;
	border-top:1px dashed #ccc;
	color:#fff;
	background-color:#fff;
	width:90%;
	height:0;
	margin:10px auto;
}
.module table, .moduleLarge table
{
	width:100%;
	margin:0;
}
.module td,  .moduleLarge td
{
	vertical-align:top;
}
.module td img,  .moduleLarge td img
{
	margin:0 7px 0 0;
	float:none;
}
.moduleLarge td img
{
	margin-right:14px;
}
.module img, .moduleLarge img
{
	margin:7px 7px 7px 0;
	float:left;
}
.module .caption, .moduleLarge .caption
{
	font:italic 11px Arial, Helvetica, sans-serif;
	margin:0;
}
.module .moduleSponsor, .moduleLarge .moduleSponsor
{
	float:right;
	margin:0;
	margin-bottom:-30px;
}
.module .WSmagazine, .moduleLarge .WSmagazine
{
	text-align:center;
	border-right:1px solid #999;
}
.module .WSmagazine big, .moduleLarge .WSmagazine big
{
	font-size:14px;
	font-weight:bold;
}
.module form, .moduleLarge form
{
	text-align:left;
	margin:7px auto;
}
/*.module form p, .moduleLarge form p
{
	margin:5px;
}*/
.module form dl dt, .moduleLarge form dl dt
{
	font-weight:bold;
	font-size:15px;
}
.module form dl dd, .moduleLarge form dl dd
{
	margin-left:30px;
}
.module form label span, .moduleLarge form label span
{
	 text-align:right;
}
.module .thumbnailTable, .moduleLarge .thumbnailTable
{
	float:left;
	margin:0;
	width:100px;
	margin-bottom:3px;
}
.module .thumbnailTable td, .moduleLarge .thumbnailTable td
{
	padding:0 10px;
	text-align:center;
}
.moduleLarge .thumbnailTable
{
	width:177px;
}
.module .thumbnailTable img, .moduleLarge .thumbnailTable img
{
	padding:7px 0;
	margin:0;
}
.module .thumbnailTable caption, .moduleLarge .thumbnailTable caption
{
	text-align:right;
	margin:0 10px 0 0;
	caption-side:bottom;
}
#contentBox .module .tdSep, #wideContentBox .module .tdSep, #contentBox .moduleLarge .tdSep, #wideContentBox .moduleLarge .tdSep
{
	border-right:2px solid #cecece;
}
.modulePromo img
{
	float:none;
}
#wideContentBox .moduleLarge img, #wideContentBox .module img
{
	float:right;
	margin:0 0 7px 7px;
}
#wideContentBox .moduleLarge h3, #wideContentBox .module h3
{
	border-bottom:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
}
#wideContentBox .module p, #wideContentBox .module td, #wideContentBox .module dt, #wideContentBox .module dd, #wideContentBox .module li
{
	font-size:13px;
	line-height:1.3;
}
#wideContentBox .moduleLarge p, #wideContentBox .moduleLarge td, #wideContentBox .moduleLarge dt, #wideContentBox .moduleLarge dd, #wideContentBox .moduleLarge li
{
	font-size:15px;
}
.moduleSearch .searchforbox, .moduleSearch2 .searchforbox
{
	background:url(/images/wso/searchforBg.gif) no-repeat;
	width:620px;
	height:46px;
	margin:0 10px;
	padding:0;
}
.moduleSearch2 .searchforbox
{
	background-image:url(/images/wso/searchforBg2.gif);
}
.moduleSearch .searchforbox img, .moduleSearch2 .searchforbox img
{
	margin:0 0 0 140px;
	 padding:0;
}
.moduleSearch .searchforbox input, .moduleSearch2 .searchforbox input
{
	margin:12px 0;
}
.moduleSearch table
{
	margin:7px 0;
	padding:0;
}
.moduleSearch table td
{
	padding:0 3px;
	margin:0;
}
.moduleSearch table td p
{
	margin:auto;
}
.moduleSearch th.active 
{
	color:#ccc;
}
.moduleSearch .navBarLarge, .moduleSearch2 .navBarLarge
{
	background:url(/images/wso/searchNavLargeBg.gif) no-repeat;
	height:46px;
	margin:3px 12px 0;
	width:620px;
}
.moduleSearch .navBarLarge td, .moduleSearch2 .navBarLarge td
{
	padding:0 5px;
	vertical-align:middle;
}
.moduleSearch .navBarLarge label, .moduleSearch2 .navBarLarge label
{
	color:#fff;
	font-size:12px;
}
.moduleSearch label, .moduleSearch2 label
{
	color:#900;
	margin:0;
	padding:0;
	font-size:12px;
}
.moduleSearch form
{
	margin:0;
	padding:0;
}
.moduleSearch form label
{
	color:#900;
	margin:0;
	padding:0;
	font-size:12px;
}
.moduleSearch form button, .moduleSearch2 form button
{
	line-height:normal;
}
.moduleSearch2 .navbar
{
	background:url(/images/wso/searchNavBg.gif) no-repeat;
	padding:15px 10px;
	margin:3px;
	text-align:center;
}
.moduleSmall p, .moduleSmall td p, .moduleSmall td p label
{
	margin:0;
}
.moduleSmall td label, .moduleSmall a, .moduleSmall p, .moduleSmall h2, .moduleSmall h4
{
	color:#fff;
}
.moduleSmall td label, 
{
	vertical-align:middle;
}
.moduleSmall table, .moduleSmall2 table
{
	width:620px;
	float:none;
	margin:0 auto;
	padding:0;
}
.moduleSmall .pagination
{
	margin:0;
}
.moduleSmall .pagination strong
{
	background-color:#600;
	border:1px solid #fff;
}
.moduleSmall a:link, .moduleSmall a:visited, .moduleSmall .pagination a
{
	color:#fff;
	border:1px solid #900;
	padding:auto 2px;
}
.moduleSmall .pagination a:hover
{
	border:1px solid #fff;
	background-color:#600;
	text-decoration:none;
}
.moduleSmall2 th
{
	background-color:#ccc;
	border-bottom:2px solid #999;
}
.moduleSmall2 h5
{
	background-color:#666;
	margin:0 -3px;
	padding:5px;
}
.moduleSmall2 p
{
	margin:0;
}
.moduleSmall2 td, .moduleSmall2 th
{
	padding:3px;
}
.moduleSmall2 tr:hover
{
	background-color:#e3e3e3;
}
.searchFields fieldset
{
	width:48%;
	margin:0;
	padding:0;
	border:none;
}
.searchFields #byothers
{
	float:left;
}
.searchFields #byLocation
{
	float:right;
}
.moduleLarge .navbar
{
	width:290px;
	margin:0 auto;
}
.mCentered
{
	text-align:center;
}
.mCentered h3
{
	text-align:left;
}
.mCentered p, .mCentered img
{
	text-align:center;
	float:none;
	margin:7px auto;
}
.modulePagePromo td
{
	padding:0 5px;
}
.modulePagePromoSmall td
{
	padding:0 5px;
}
#searchResults
{
	background-color:#fff;
}
#searchResults th
{
	background-color:#f6e9bd;
	padding:4px 5px;
}
#searchResults table, #searchResults2 table
{
	width:626px;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
#searchResults td, #searchResults2 td
{
	padding:2px 4px;
}
#searchResults2 th
{
	vertical-align:top;
	padding:2px 4px;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}
#searchResults2 table tbody tr td
{
	background-color:#ececec;
}
#searchResults2 table tfoot tr th
{
	vertical-align:bottom;
}
#searchResults td img, #searchResults2 td img, #searchDetail td img, #searchResults th img, #searchResults2 th img, #searchDetail th img
{
	float:none;
	margin:0;
	padding:0;
	text-align:left;
}
#searchResults2 th img
{
	margin:0 auto;
}
#searchResults2 th a
{
	color:#900;
}
#searchResults2 .active
{
	text-align:center;
	background-color:#ccc;
}
#searchResults2 th.active
{
	background-color:#4e4e4e;
}
#searchResults2 .active img
{
	margin:0 auto;
}
/*#searchResults2 tbody tr:hover
{
	background-color:#e3e3e3;
}*/
#searchDetail td
{
	padding:5px;
}
#searchDetail td h4 span
{
	color:#999;
	font-size:16px;
	font-weight:bold;
}
.forMembersBoxTable
{
	border:1px solid #e1d6a9;
	background-color:#f6e9bd;
}
.forMembersBoxTable h5
{
	background-color:#e1d6a9;
	text-indent:10px;
	padding:3px 0;
	margin-top:3px;
}
.myPersonalBox th
{
	background-color:#ded2b8;
}
.myPersonalBox tr
{
	background-color:#e6decb;
}
.myPersonalBox tr:hover
{
	background-color:#faefd1;
}
.inputBoxwidth
{
	width:200px;
}
.tabMenu th
{
	background-color:#eee;
	padding:5px 10px;
	text-align:center;
}
.tabMenu th a:hover, .tabMenu th.headerson a, .tabMenu th:hover, .tabMenu th.headerson, .tabMenu th:hover a
{
	background-color:#900;
	color:#fff;
	border:none;
}
.tabMenu .headerson a
{
	color:#fff;
}
.moduleHeaderNav
{
	background-color:#900;
	margin:-1px -3px;
	padding:7px 0;
	color:#fff;
}
#wideContentBox .moduleHeaderNav
{
	margin:-1px 0 0;
}
.moduleHeaderNav h1
{
	color:#fff;
	text-align:center;
	margin:0;
}
.moduleHeaderNav p
{
	margin:0;	
	margin-top:-7px;
	text-align:center;
	font-weight:bold;
}
.moduleHeaderNav p a, .moduleHeaderNav p a:link, .moduleHeaderNav p a:active, .moduleHeaderNav p a:visited, .moduleHeaderNav p a:hover
{
	color:#fff;
	text-decoration:underline;
}
.moduleHeaderNav .linkOff
{
	color:#888;
}
.moduleHeaderNav strong
{
	background-color:#600;
	padding:7px 3px;
}
.bold
{
	font-weight:bold;
}
.unbold
{
	font-weight:normal;
}
.italic
{
	font-style:italic;
}
.unitalic
{
	font-style:normal;
}
.small
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.small a:link
{
	text-decoration:underline;
}
.big
{
	font-size:18px;
	font-weight:bold;
}
#contentBox .fontFamily, #wideContentBox .fontFamily
{
	font-family:Georgia, "Times New Roman", Times, serif;
}
#contentBox .fontFamily1, #wideContentBox .fontFamily1
{
	font-family:Arial, Helvetica, sans-serif;
}
.fontColor
{
	color:#000;
}
.fontColor2, a:link.fontColor2
{
	color:#900;
}
.fontColor3, a:link.fontColor3
{
	color:#603;
}
.fontColor4, a:link.fontColor4
{
	color:#c60;
}
.fontColor5, a:link.fontColor5
{
	color:#999;
}
.fontColor6, a:link.fontColor6
{
	color:#fff;
}
.red, a:link.red
{
	color:#f00;
}
.indent
{
	text-indent:20px;
}
.allcaps
{
	text-transform:uppercase;
}
.capitalize
{
	text-transform:capitalize;
}
.lowercase
{
	text-transform:lowercase;
}
.clearall
{
	clear:both;
}
.no-margin
{
	margin:0;
}
.no-margin-top
{
	margin-top:0;
}
.no-margin-bottom
{
	margin-bottom:0;
}
.noMarginHPL
{
	margin-bottom:-15px;
}
.noMarginPP
{
	margin-bottom:-8px;
}
#contentBox .textAlignCenter, #wideContentBox .textAlignCenter
{
	text-align:center;
}
#contentBox .textAlignLeft, #wideContentBox .textAlignLeft
{
	text-align:left;
}
#contentBox .textAlignRight, #wideContentBox .textAlignRight
{
	text-align:right;
}
#contentBox .alignCenter, #wideContentBox .alignCenter
{
	clear:both;
}
#contentBox .alignLeft, #wideContentBox .alignLeft
{
	float:left;
}
#contentBox .alignRight, #wideContentBox .alignRight
{
	float:right;
}
#contentBox .noLineHigh, #wideContentBox .noLineHigh
{
	line-height:normal;
}
.dottedLine
{
	margin:0;
	 padding:0;
	 background-image:url(/images/wso/dottedLine.gif);
	 font-size:2px;
	 height:2px;
}
.underlined
{
	font-family:Arial, Helvetica, sans-serif;
	 border-bottom:2px solid #ccc;
}
a.underlined
{
	text-decoration:underline;
}
.linesep
{
	border-top:1px dashed #ccc;
	color:#fff;
	background-color:#fff;
	height:0;
	margin:15px auto;
}
.notes
{
	color:#666;
	font:bold italic 13px arial;
	margin-top:0;
}
#contentBox .middle, #wideContentBox .middle
{
	vertical-align:middle;
}
.contentFooter
{
	margin:15px;
	padding:3px;
}
.contentFooter p, .pagination
{
	font:12px Arial, Helvetica, sans-serif;
	text-align:center;
	padding:4px 0;
	line-height:3;
}
.contentFooter .navicon
{
	float:none;
	width:132px;
	margin:0 auto;
	text-align:center;
}
#contentBox .contentFooter p a:link, #contentBox .contentFooter p a:active, #wideContentBox .contentFooter p a:link, #wideContentBox .contentFooter p a:active
{
	border:1px solid #fff;
	padding:3px;
}
#contentBox .contentFooter p a:visited, #contentBox .contentFooter p a:hover, #wideContentBox .contentFooter p a:visited, #wideContentBox .contentFooter p a:hover
{
	border-color:#036;
}
.pagination strong
{
	color:#fff;
	background-color:#036;
	/*border:1px solid #036;*/
	padding:3px;
}
#contentBox .pagination a:link, #contentBox .pagination a:active, #contentBox .pagination a:visited, #contentBox .pagination a:hover
{
	/*border:1px solid #999;*/
	padding:3px;
}
#contentBox .moduleLarge .contentFooter p a, #wideContentBox .moduleLarge .contentFooter p a
{
	border:none;
}
#contentBox .moduleLarge .navicon img, #wideContentBox .moduleLarge .navicon img
{
	margin:0;
	padding:0;
}
.borderCollapse
{
	border-collapse:collapse;
}
/* ------------------------------------------  ------------------------------------------ */
/* *** 		* Start: Style for videos	search * 		*** */
.videos
{
	float:left;
	padding:0;
	width:100%;
	margin-bottom:12px;
}
.videos img
{
	float:left;
	width:160px;
	margin:0;
	margin-right:7px;
	margin-bottom:7px;
}
.videotxt
{
	margin:0;
	padding:0;
}
.videotxt h4, .videotxt p
{
	margin:0;
}
.videoSearchTop, .videoSearchResults
{
	width:100%;
}
.videoSearchTop form
{
	margin:0;
	padding:0;
}
.videoSearchTop .vpagination
{
	background:url(/images/wso/videoPaginationbg.gif);
}
.videoSearchTop .vpagination p
{
	margin:10px;
}
.videoSearchTop .vpagination span
{
	background-color:#693;
	color:#fff;
	padding:12px 3px;
}
.videoSearchResults
{
	margin:0;
	padding:0;
	border-left:1px solid #999;
	border-top:3px solid #693;
	border-bottom:3px solid #693;
}
.videoSearchResults th
{
	padding:3px 12px;
	text-align:left;
	background:url(/images/wso/videoSearchHeaderbg.gif);
	border-bottom:1px solid #999;
	font-size:16px;
}
.videoSearchResults td
{
	padding:3px 7px;
}
.videoSearchResults th, .videoSearchResults td
{
	border-right:1px solid #999;
}
.videoSearchResults th a:link, .videoSearchResults th a:visited, .videoSearchResults th a:hover
{
	color:#693;
	text-transform:uppercase;
}
.videoSearchResults th span
{
	font-size:9px;
	color:#999;
	text-transform:uppercase;
}
.videoSearchResults #unrotatetr, .videoSearchResults #rotatetr:hover
{
	background-color:#ececec;
}
.videoSearchResults #rotatetr
{
	background-color:#fff;
}
.videoSearchResults .selectedCol
{
	background:#693;
}
.videoSearchResults .selectedCol a:link, .videoSearchResults .selectedCol a:visited, .videoSearchResults .selectedCol a:hover
{
	color:#fff;
}
.videoSearchResults .selectedCol img
{
	vertical-align:middle;
}
.tourBox  td
{
	vertical-align:middle;
}
#HelpList
{
	margin:0px;
	padding:0;
}
#HelpList h2
{
	margin-bottom:0px;
}  
#HelpList ul ul
{
	margin-left:20px;
}
#HelpList li
{
	margin-left:0px;
	padding-left:0px;
	list-style-type:none;
}
#HelpList ul, #HelpList li 
{
	padding:0px;
	margin:10px 0;
	list-style-type:none;
	color:#000;
}
.forArchiveItem
{
	width:24.5%;
	text-align:center;
	float:left;
	margin:7px 0;
	padding:0;
}
#contentBox .forArchiveItem a
{
	font-weight:bold;
	border-bottom:none}
img.right
{
	float:right;
	 margin:0 0 7px 7px;
}
img.left
{
	float:left;
	 margin:0 7px 7px 0;
}
/* ------------------------------------------  ------------------------------------------ */
/* *** Start: Blog pages bloger boxes (comments, entries, highlights) 		*** */
.forMembersBox h3
{
	margin:0;
	color:#666;
	padding:5px;
	background-color:#f1db92;
	font-family:Arial, Helvetica, sans-serif;
}
.forMembersBox h4
{
	color:#900;
}
.forMembersBox h4 .small
{
	color:#000;
	font-weight:normal;
}
.forMembersBox h6
{
	margin:0;
	color:#000;
}
.forMembersBox a, .readPostCommentsBox a
{
	border-bottom:none;
}
.forMembersBox p
{
	font-size:12px;
}
.forMembersBox form
{
	margin:0;
}
.forMembersBox form img
{
	float:none;
	vertical-align:middle;
	margin:0;
}
.forMembersBox .btn
{
	background-color:#900;
	color:#fff;
	border:1px solid #000;
	font-weight:bold;
}
.forMembersBox .btnhov
{
	background-color:#933;
}
.readPostCommentsBox
{
	background-color:#e3e3e3;
	padding:7px;
	height:19px;
}
.readPostCommentsBox .readMoreIcon
{
	float:left;
	background:url(/images/wso/readbutton.gif) no-repeat;
	padding-left:23px;
	height:21px;
}
.readPostCommentsBox p
{
	text-align:right;
	margin:0;
}
.readPostCommentsBox p, .readPostCommentsBox a:link, .readPostCommentsBox a:visited, .readPostCommentsBox a:hover
{
	font: bold 13px Arial, Helvetica, sans-serif;
	color:#036;
}
.usersCommentsbox
{
	width:94%;
	background-color:#f1db92;
	padding:8px;
	border:1px solid #999;
	margin:auto;
}
.usersCommentsbox h6
{
	font-weight:normal;
}
.usersCommentsbox2
{
	width:auto;
	background-color:#ececec;
	padding:8px;
	border:1px solid Gray;
}
.usersCommentsbox3
{
	width: auto;
	background-color: #fcc;
	padding:8px;
	border:1px solid Gray;
}
.usersCommentsbox4
{
	width:auto;
	background-color:#ccf;
	padding:8px;
	border:1px solid Gray;
}
.postcomment label
{
	font:12px Arial, Helvetica, sans-serif;
	color:#900;
	vertical-align:top;
}
/* *** End: Blog pages bloger boxes (comments, entries, highlights) 		*** */
/* ------------------------------------------  ------------------------------------------ */
/* ******** Start: Encyclopedia of food ******** */
#encyminibox a:link, #encyminibox2 a:link, #encyminibox a:visited, #encyminibox2 a:visited, #encyitem2search:link,#encyitem2search:visited,#encyitem2search:hover
{
	color:#900;
	font:bold 15px arial;
}
td.paddingtcell, #encyminibox td, #encyminibox2 td
{
	padding:5px;
	border-bottom:1px solid #ccc;
}
#encyminibox, #encyminibox2
{
	background:#f6e9bd;
	border:1px solid #ccc;
	padding:0;
	margin-right:3px;
	padding-bottom:3px;
}
#encyminibox
{
	width:250px;
}
#encyminibox div
{
	background-color:#699;
	font:bold 14px arial;
	color:white;
	padding:3px;
	margin-bottom:0px;
}
#encyminibox span
{
	color:#900;
	font:bold 15px times;
	padding:1px 3px;
	clear: both;
}
#encyminibox p
{
	padding:1px 3px;
	font:12px arial;
}
#encyminibox h3
{
	font:bold 15px arial;
	padding:0 3px;
	color:#fff;
}
#over
{
	background-color:#d4cdb7}
#out 
{
	background-color:#e9e3d0}
.imgright 
{
	width: 200px;
	padding-left:7px;
	clear:both;
	float:right}
.imgleft 
{
	width:200px;
	padding-right:7px;
	clear:both;
	 float:left}
.imgright p, .imgleft p 
{
	padding:5px 0;
	margin:0;
	font:italic 12px times;
}
#encytipboxtitle
{
	color:#900;
	font:bold 16px san-serif;
}
.encyableresult
{
	background-color:#f6e1aa;
	border:1px solid #efca7c;
	padding:5px;
}
/* ******** Start: Recipe Search ******** */
/* ------------------------------------------  ------------------------------------------ */
#recpitemsearched
{
	color:#666;
	font:bold 13px arial;
}
#recptitle
{
	background-color:#f2f2cc;
}
/* *** Start: Current Issue page 	*** */
/* ------------------------------------------  ------------------------------------------ */
#issuecontent h2, #issuecontent h3, #issuecontent h5
{
	font-family:Arial, Helvetica, sans-serif;
}
#issuecontent h2
{
	color:#600;
}
#issuecontent h3
{
	color:#600;
}
#issuecontent h5
{
	color:#c93;
	text-transform:uppercase;
}
#issuecontent dd
{
	margin-left:25px;
}
#issuecontent dl dd dl dt p
{
	margin:0;
	margin-bottom:-10px;
}
.exclusiveContentBox td
{
	border:3px solid #a16109;
	padding:5px;
	background-color:#e8ebf4}
.exclusiveContentBox th
{
	background-color:#a16109;
}
.exclusiveContentBox p, .exclusiveContentBox li, .exclusiveContentBox td
{
	line-height:normal;
}
/* *** Start: OLD STYLE-Issue content	*** */
#issuecontent h1
{
	color:#600;
	margin:9px 0;
}
#issuecontent ul ul
{
	margin-top: 7px;
}
/* *** End: Current Issue page	 		*** */
/* ------------------------------------------   ------------------------------------------*/
.readNewsletter
{
	padding:3px;
	background-color:#f3efc0;
}
.readNewsletter h5
{
	background:url(/images/wso/ws_newsletterspg_10.gif) no-repeat;
	margin:0;
	padding:6px 3px 6px 40px;
	margin:-3px 0 0 -3px;
}
.readNewsletter p
{
	margin:5px;
}
.newsletterList
{
	background-color:#f4ecc5;
	padding:7px;
}
.newsletterHelp
{
	background-color:#e9e9e9;
	padding:7px;
}
/* ------------------------------------------  ------------------------------------------ */
/* *** Start: site tour typegraphy	 		*** */
/* ------------------------------------------  ------------------------------------------ */
#siteTour th
{
	color:#680000;
	padding:10px;
	font:bold 22px Arial, Helvetica, sans-serif;
	background-color:#e7d8b1;
	text-align:center;
}
#siteTour td
{
	padding:14px;
}
#siteTour td td
{
	padding:6px;
}
/* *** Start: email to a Friend	 		*** */
/* ------------------------------------------  ------------------------------------------ */
.emailtable
{
	border:3px solid #6d6272;
	background-color:#f8effa;
}
.emailtable td
{
	padding:14px;
}
.emailtable td h4
{
	font: bold 16px Arial, Helvetica, sans-serif;
}
.emailtable td span
{
	color: #4d1542;
}
.emailtable td p
{
	font: 13px Arial, Helvetica, sans-serif;
	color:#000;
	clear:both;
}
.emailtable td img
{
	float:left;
}
.emailtable td input, .emailtable td textarea
{
	border: 1px #000 solid;
}
.emailtable td button, .emaitoButton
{
	border:1px solid #636;
	background-color:#fff;
	color:#636;
	font-weight:bold;
}
.emaitoButton
{
	padding:3px 30px;
	float:right;
}
.emaitoButton a
{
	color:#636;
	text-decoration:none;
}
/* *** Start: Current Issue page 	*** */
/* ------------------------------------------  ------------------------------------------ */
.pwlAllItemsBox th
{
	color:#999;
}
.pwlAllItemsBox .pwlItemOpen, .pwlAllItemsBox .pwlmcItemOpen, .pwlAllItemsBox .pwlItemClose
{
	background-image:url(/images/wso/pwlItemOpen.gif);
	height:8px;
}
.pwlAllItemsBox .pwlmcItemOpen
{
	background-image:url(/images/wso/pwlmcItemOpen.gif);
}
.pwlAllItemsBox .pwlItemClose
{
	background:url(/images/wso/pwlItemClose.gif) no-repeat #ddd;
	padding-bottom:12px;
}
.pwlAllItemsBox tr td
{
	background-color:#f5f5f5;
	vertical-align:top;
}
.pwlAllItemsBox td.pwlItemHeader
{	
	text-align:center;
	padding:2px;
	border-right:1px solid #999;
}
.pwlAllItemsBox td.pwlItemHeaderStart
{
	border-right:1px solid #999;
	border-left:2px solid #b3b3b3;
	padding:2px;
}
.pwlAllItemsBox td.pwlItemHeaderEnd, .pwlAllItemsBox td.pwlmcItemHeaderEnd
{
	background:url(/images/wso/inner-frame-box-01-bg4.gif) top right no-repeat;
	background-color:#f5f5f5;
	text-align:center;
	padding:2px;
}
.pwlAllItemsBox td.pwlmcItemHeaderEnd
{
	background-image:none;
	border-right:2px solid #b3b3b3;
}
.pwlAllItemsBox td.pwlItemHeaderBottom
{
	border-left:2px solid #b3b3b3;
	border-right:2px solid #b3b3b3;
	border-top:1px solid #999;
}
.pwlAllItemsBox td.pwlItemFooter
{
	background-color:#ddd;
	padding:10px;
	text-align:center;
}
.valueWinesWineriesHome
{
	width:100%;
	padding:10px 0;
}
.valueWinesWineriesHome td
{
	width:33%;
	text-align:center;
}
.valueWinesWineriesHome td.centerValue
{
	border-left:1px solid #999;
	border-right:1px solid #999;
}
.valueWinesWineries
{
	width:100%;
	border-collapse:collapse;
}
.valueWinesWineries table
{
	margin:3px -7px;
}
.valueWinesWineries th
{
	padding:4px;
	text-align:center;
	color:#036;
	border-bottom:3px solid #999;
}
.valueWinesWineries td
{
	padding:10px 4px;
	border:1px solid #999;
	text-align:center;
}
.valueWinesWineries td.active, .valueWinesWineries tr:hover
{
	background-color:#ccc;
}
.vfheading
{
 	background-color:#e3e3e3;
	padding:3px;
}
/* *** Start: classiffieds	 		*** */
/* ------------------------------------------  ------------------------------------------ */
.classifiedsNavBar
{
	clear:both;
}
.classifiedsNavBar td
{
	margin:0;
	padding:0;
	background-color:#4a3b64;
	text-align:center;
	height:43px;
	vertical-align:middle;
	 border-left:1px solid #fff;
	color:#ccc;
	 font-weight:bold;
}
.classifiedsNavBar .cl-active, .classifiedsNavBar td:hover
{
	background-color:#960165;
}
.classifiedsNavBar .cl-open, .classifiedsNavBar .cl-open:hover
{
	background:url(/images/wso/classifiedNavBarOpen.gif) no-repeat #4a3b64;
	border-left:none;
}
.classifiedsNavBar .cl-close
{
	margin:0;
	padding:0;
	background:url(/images/wso/classifiedNavBarClose.gif) no-repeat #4a3b64;
	width:215px;
	border-left:none;
}
.classifiedsNavBar a:link, .classifiedsNavBar a:active, .classifiedsNavBar a:visited, .classifiedsNavBar a:hover
{
	color:#fff;
}
/* Start: ads box */
.fistparr
{
	margin-bottom:-10px;
}
#adsBox p, #adsBox dl, #adsBox dd, #adsBox dt, #adsBox label, #adsBox li
{
	font-family:Arial, Helvetica, sans-serif;
}
#adsBox p, #adsBox li, #adsBox dd, #adsBox label
{
	font-size:12px;
}
#adsBox p.firstparr
{
	margin-bottom:-10px;
}
/* Start: footer box */
#footer p
{
	font:11px Arial, Helvetica, sans-serif;
	color:#333;
	text-align:center;
	line-height:25px;
	margin-left:5%;
}
#footer a
{
	color:#999;
}