body
{
    margin:0; padding:0; background-color:#fff; text-align:center;
}
#landingHeader
{
    width:300px; margin:0 auto; padding:0; background-color:#fff; padding-bottom:1px;
}
#header
{
    width:310px; height:70px; background-color:#fff; margin:0 auto; padding:0;
}
#header img, #landingHeader img
{
    border:0; padding:0; margin:0;
}
.adsmobile
{
	margin:0 auto; background-color:#fff;
}
.adsmobile p
{
	margin:3px auto;
}

#footer
{
    width:310px;font:small Arial, Helvetica, sans-serif; margin:0 auto; text-align:center;
}
#body
{
    width:294px; margin:0 auto; padding:3px; text-align:left;
}
#body>*:first-child, #body>h1, #body>h2, #body>h3, #body>h4
{
	margin-top:0;
}
a:link, a:active, a:visited, a:hover
{
    text-decoration:none;
    color:#03c;
}
h1,h2,h3,h4,h5,h6
{
    font-family:Arial, Helvetica, sans-serif;
}
#body,p,li,td,th
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
}
#body ul{ list-style:none; margin:0; padding:0; }
#body li{ margin:0 0 12px; }
ul
{
    text-align:left;
}
th
{
    color:#666;
    padding:2px;
    text-align:left;
}
td
{
    padding:2px 4px;
}

.vcrow td { font-size:12px; padding:2px; }
.vcrow {font-size:11px;}
.vcsep { padding:0; border-bottom: 1px solid #cccccc; }

li
{
    list-style:none;
    list-style-type:none;
    padding:5px 0;
    line-height:1.5;
}
select
{
    width:150px;
}
label
{
    color:#900;
    font-size:small;
}
label span
{
    font-weight:bold;
    font-size:small;
}
mobilenote P
{
    font-size: 12px;
    padding: 0px;
    margin: 5px 0 0 0;
}