h1,h2,h3,h4,h5,h6
{ font-family:Arial, Helvetica, sans-serif; line-height:1.2; }
h1
{ font-size:36px; color:#999; font-weight:normal; margin:5px 0; clear:both; }
h2
{ font-size:24px; color:#900; }
h3
{ font-size:18px; color:#900; font-weight:normal; margin:0; }
h4
{ font-size:16px; color:#900; }
h5
{ font-size:14px; }
h6
{ font-size:12px; }
div, p, ul, li, th, td, caption, dl, dt, dd, label, form, blockquote, address
{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5; color:#000; }
h1 span
{ margin-left:10px; background-color:#fff; padding:0 10px; }
hr
{ color:#ccc; background-color:#ccc; height:1px; border:none; border-collapse:collapse; width:100%; margin:10px 0; }
a:link
{ color:#00f; text-decoration:none; }
a:active
{ color:#636; }
a:visited
{ color:#639; text-decoration:none; }
a:hover
{ text-decoration:underline; }
table
{ border-collapse:separate; }
tr:hover
{ background-color:none; }
th
{ border: 1px solid black; background-color:#d3d3d3; padding:3px; margin:3px; }
td
{ border: 1px solid black; padding:3px; margin:3px; }

#login
{ margin:10px 20%; }
#login table
{ margin:10px 10%; }
#login tr:hover
{ background:none; }
#login th
{ border:none; text-align:right; }
#login td
{ border: 1px solid black; }
#login legend
{ color:#0046dc; }
#login table tr td input
{ border:1px solid #fff; }
#cmsUserInfo
{ border: 1px solid red; margin:10px 20%; padding:5px; background-color:#eee; }
#cmsUserInfo p
{ text-align:center; margin:0;}
.pagination
{ margin:0; font:12px Arial, Helvetica, sans-serif; text-align:center; padding:4px 0; line-height:3; }
.pagination strong
{ background-color:#600; color:white; border:1px solid #600; padding:4px; }
.pagination a:link
{ border:1px solid #999 !important; padding:4px !important; margin:auto 1px !important; }
.pagination a:visited
{ border:1px solid #900; padding:4px; margin:auto 1px !important; }
.pagination a:hover
{ border:1px solid #600; background-color:#600; color: white; text-decoration:none; padding:4px; }

.error-p
{ color:#f00; }
.small
{ font-size: 10px; }
.published
{ background-color: lightgreen; }
.stale
{ background-color: lightcoral; }
.unpublished
{ background-color: white; }
.panel
{ clear:both; display:none; border-top:3px solid #900; padding: 1em; }
.panel.active-tab-body
{ display: block; }
#tabs
{ list-style: none; }
#tabs li
{ float: left; }
#tabs a
{ float: left; padding: 5px 8px; margin-left: 6px; background-color: #ccc; text-decoration: none; color: #666; }
#tabs a.active-tab
{ background-color:#900; color:#fff; font-weight:bold; }
/****************Popup CMS****************/
div.popup {
  max-width: 600px;
  border: 1px solid red;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;
}

.success {
color: green;
}

.error{
color: red;
}
.form_error{
color: red;
font-weight: bold;
}

.borderless_table td{
	border: none;
	vertical-align: top;
}
.left {float:left;}
.right{float:right;}
table.left, table.right{
	width:1%;
}
table.none{ margin-bottom:20px; width:400px; text-align:center; }
table.none td{ border:none; padding:3px 10px !important; }
img.left, table.left, table[align="left"]  { margin-right:10px; }
img.right, table.right, table[align="right"] { margin-left:10px; }
.b			{font-weight:bold;} 				/* bold */
.ub			{font-weight:normal;}				/* normal */
.i			{font-style:italic;}				/* itaic */
.ni			{font-style:normal;}				/* no italic */
.ma			{margin:auto 0;}					/* margin auto */
.m0			{margin:0;}							/* margin 0 */
.mt0		{margin-top:0;}						/* margin top 0 */
.mb0		{margin-bottom:0}					/* margin bottom 0 */
.mm			{margin:7px 0;}						/* margin medium size */
.mmt		{margin-top:7px;}					/* margin medium size */
.mmin		{margin:2px 0;}						/* margin minimum size */
.tac, .textAlignCenter		{text-align:center;}				/* text align center */
.tal		{text-align:left;}					/* text align left*/
.tar		{text-align:right;}					/* text align right*/
.vat		{vertical-align:top;}				/* vartical align top for table cell */
.vab		{vertical-align:bottom;}			/* vertica aling bottom for table cell*/
.vam		{vertical-align:middle;}			/* vertica aling middle for table cell*/
.bw1		{border-width:1px;}					/* border width 1px */
.bw2		{border-width:2px;}					/* border width 2px */
.bw3		{border-width:3px;}					/* border width 3px */
.color		{color:#222;}						/* regular text color */
.scolor		{color:#9f2607;}					/* main link color */
.tcolor		{color:#b47a40;}					/* visited link color */
.fcolor		{color:#E8DCB9;}					/* headings module color (h3) */
.wcolor		{color:#fff;}
.bcolor		{color:#000;}
.rcolor		{color:#f00;}
.fontType	{font-family:Arial, Helvetica, sans-serif;}/* Arial font type */
.sfontType	{font-family:Georgia, "Times New Roman", Times, serif;}/* georgia font type */
.bgcolor	{background:#e8dcb9;}				/* main color background */
.sbgcolor	{background:#faf8dc;}				/* module color background */
.tbgcolor	{background:#534741;}				/* footer color backgoround */
.fbgcolor	{background:#B7A56C;}				/* footer icons color backgoround */
.allcaps	{text-transform:uppercase;}			/* text is in upper cases  */
.capitalize	{text-transform:capitalize;}		/* all words are capitalized */
.alllower	{text-transform:lowercase;}			/* text is in lower cases */
.borderimg	{border:1px solid #333 !important;}
.hidden 	{ display: none; }
.visible 	{ display: block; }