
#all_polls {
  padding:30px;
}


#all_polls #list_of_all_polls {
  float:right;
  width:400px;
  padding:0 0 40px 0;
}


#all_polls #poll_form {
  float:left;
  width:400px;
}


#all_polls .poll_question {
  width:400px;
  height:120px;
}

#all_polls input {
  width:400px;
}




#ws_all_polls {
  padding:30px;
}


#ws_all_polls #ws_list_of_all_polls {
  padding:0 0 40px 0;
}


#ws_all_polls #ws_poll_form {
  float:left;
  width:500px;
}


#ws_all_polls .ws_poll_question , #ws_all_polls .ws_meta_title , #ws_all_polls .ws_meta_description {
  width:400px;
  height:120px;
}

#ws_all_polls input {
  width:400px;
}








