/* ============= APPS PROMO SPECIFIC ============= */

.apps-promo--mobile,
.apps-promo {
  .tab-feature_body-subtitle {
    @include font-size(20px);
    @include bp-large {
      @include font-size(27px);
    }
  }

  .tab-feature_blurb {
    @include bp-small {
      @include font-size(14px);
      line-height: $base-line-height;
    }

    @include bp-large {
      @include font-size(17px);
    }
  }
}

.app-buttons {
  text-align: center;
  padding: 0;
  margin: 0.8em 0 0 0;

  @include bp-small {
    text-align: left;
  }
}

.app-buttons a {
  display: inline-block;
  padding: 0;
  margin: 0 0 1em;
}

.app-buttons a img {
  max-width: 95px;
  height: auto;
}
