/* ==== COUNTDOWN CLOCK ==== */

#top25-clock,
#top25-clock--mobile {
  max-width: 100%;
  margin: 0 auto;
}

.countdown-clock {
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  height: 100%;

  &_banner {
    background-color: $brown-color;
    color: $white-color;
    padding: 0.56em;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
    @include font-size(14px);
  }

  &_item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0.56em 0;
    margin: 0;

    h1 {
      padding: 0;
      margin: 0;
      line-height: 1;
      @include font-size(40px);
      color: $black-color;
    }

    div {
      @include font-size(11px);
      color: $gray-color;
      padding: 0;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &_footer {
    text-align: center;
    padding: 0;
    margin: 0;

    a {
      padding: 0.56em;
      margin: 0;
      border-top: 1px solid $border-color;
      line-height: 1;
      text-transform: uppercase;
      //font-style: italic;
      display: block;
      background-color: transparent;

      &:active,
      &:focus {
        color: $red-color;
        text-decoration: none;
      }

      &:visited {
        color: $red-color;
        text-decoration: none;
      }

      &:hover {
        color: $white-color;
        text-decoration: none;
        background-color: $red-color;
        border-color: $red-color;
      }
    }
  }
}

.countdown-clock_item:last-of-type {
  margin-right: 0;
}
