/* ==== FOOTER ==== */

footer {
  padding: 26px 0;
  margin: 0;
  text-align: left;
  background-color: $black-color;
  position: relative;
  color: $lightgray-color;
  @include font-size(14px);

  a {
    @extend .transition;
    color: rgba($lightgray-color, 0.8);
    text-decoration: none;

    &:active,
    &:focus,
    &:visited {
      color: rgba($lightgray-color, 0.8);
      text-decoration: none;
    }
    &:hover {
      color: $gold-color;
      text-decoration: none;
    }
  }
  ul.footer_links{
  	margin-left: 0;
  }
}

.footer_heading {
  color: $white-color;
  @include font-size(15px);

  @include bp-small {
    @include font-size(17px);
  }
}

.footer_social {
  margin: 1em 0 2em;
  padding: 0;
}

.footer_social > li {
  padding: 0;
  margin: 0 0.32em 0 0;
}

.footer_social > li a {
  padding: 6px;
  margin: 0 auto;
  border: 2px solid rgba($lightgray-color, 0.8);
  background-color: transparent;
  display: block;
  width: 46px;
  height: 44px;
  text-align: center;
  vertical-align: middle;

  &:active,
  &:focus,
  &:visited {
    color: $white-color;
    border-color: $white-color;
    background-color: transparent;
    text-decoration: none;
  }
  &:hover {
    color: $black-color;
    border-color: $gold-color;
    background-color: $gold-color;
    text-decoration: none;
  }
}

.footer_social > li a i.fa {
  @include font-size(28px);
}

.footer_copyright {
  margin: 2em 0 0;
  padding: 0;
  text-align: center;
  color: rgba($lightgray-color, 0.64);
}

.footer_links {
  line-height: 2;

  @include bp-medium {
    line-height: $base-line-height;
  }
}

.forums-spacer {
  margin: 0;
  padding: 0;
  @include bp-medium {
    padding-left: 2em;
  }
}

.forums-icon {
  margin: 0;
  padding: 0;
  width: 65px;
}

.forums-icon a {
  display: block;
  padding: 0;
  margin: 0;
}

.forums-icon svg,
.forums-icon img {
  width: 100%;
  height: auto;
  fill: rgba($lightgray-color, 0.8);

  &:hover {
    fill: $gold-color;
  }
}

.corner-to-top {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  border: 2px solid $black-color;
  color: $black-color;
  background-color: $white-color;
  width: 44px;
  height: 44px;
  text-decoration: none;
  @include font-size(25px);
  padding: 0.32em;
  display: none;
  line-height: 1;
  cursor: pointer;
  &:hover {
    color: $red-color;
  }
}
