/* ============= HP TOP25 ============= */

#hp-top25.content-card_header {
  margin-bottom: 18px;
}

#hp-top25 p {
  margin-bottom: 8px;
}

#hp-top25 img {
  display: block;
  margin: 1em auto 0;
  padding: 0;
}

#hp-top25 img.visible-xs-block,
#hp-top25 img.visible-md-block {
  margin: 0 auto 1.56em;
}
