/* ============= HP CINEMA ============= */

#hp-cinema.content-card_header {
  margin-bottom: 12px;
}

.hp_cinema-tablet {
  width: 300px;
  margin-top: 1.56em;
}

.hp-cinema_title {
  @extend .content-card_title;
}

.hp-cinema_image {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 1em;
  position: relative;

  .fa-play-circle {
    position: absolute;
    top: 40%;
    left: 45%;
    @include font-size(64px);
    color: $white-color;
    opacity: 0.7;
  }
}
