/* ============= NOTIFICATIONS and ALERTS ============= */

.alert {
  @extend .heading;
  text-align: left;
  border: 4px solid transparent;
  border-radius: 0;
  @include font-size(18px);
  padding: 1em;
  margin: 0 0 2em;

  @include bp-small {
    padding: 1.56em;
  }
}

/*overwriting bootstrap for the timebeing -swc*/
.alert-dismissible .close {
  position: relative;
  top: -13px;
  right: -10px;

  @include bp-small {
    top: -25px;
    right: -20px;
  }
}

.alert-info,
.alert-info-notice {
  background-color: rgba($gold-color, 0.32);
  color: inherit;
  border-color: rgba($gold-color, 0.72);
}

.alert-info-register {
  background-color: rgba($white-color, 0.88);
  color: inherit;
  border-color: rgba($gray-color, 0.72);
}

.alert-info-error {
  background-color: rgba($red-color, 0.82);
  color: $white-color;
  border-color: $red-color;
}

.alert-info-error a {
  color: $white-color;

  &:active,
  &:focus,
  &:visited {
    color: rgba($white-color, 0.9);
    text-decoration: none;
  }

  &:hover {
    color: $gold-color;
    text-decoration: none;
  }
}

.alert-info-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #075b38;
}

.alert-info-success a {
  color: $white-color;

  &:active,
  &:focus,
  &:visited {
    color: rgba($white-color, 0.9);
    text-decoration: none;
  }

  &:hover {
    color: $black-color;
    text-decoration: none;
  }
}
