/* ============= RELATED IMAGE GALLERY ============= */

.related-gallery_container {
  padding: 0;
  margin: 2em auto;
  h5 {
    margin-bottom: 0.64em;
  }
}

.related-gallery-item_img {
  margin: 0 auto;
  padding: 0;
}

.related-gallery-item_caption {
  text-align: center;
  padding: 0.56em;
}
