/* ==== TOP BANNER ==== */

.top-banner {
  padding: 0;
  margin: 0;
  @include font-size(15px);
  @include bp-medium {
    @include font-size(16px);
  }
}

.top-banner_link {
  color: $white-color;
  background-color: $red-color;
  display: block;
  text-align: center;
  padding: 0.32em;
  margin: 0;

  @include bp-small {
    padding: 0.42em 1em;
  }

  &:active,
  &:focus {
    color: $white-color;
    text-decoration: none;
  }

  &:visited {
    color: $white-color;
    text-decoration: none;
  }

  &:hover {
    color: $gold-color;
    background-color: $black-color;
    text-decoration: none;
  }
}
